body {
	margin: 0;
	padding: 0;
	background-color: #EAECEE;
	font-family: Verdana, sans-serif;
	font-size: 0.9em;
}

#container {
	margin: 0 auto;
	padding: 0 20px 10px 20px;
	border: 1px solid #666666;
	width: 865px;
	padding-top: 10px;
}

#header{
	hight: 200px;
	width: auto;
	font-size: 1.3em;
	border: 1px solid #666666;
	background: #EAECEE;
	padding: 0 15px 5px 15px;
	margin-bottom: 50px;	
}

#footer{
	hight: 200px;
	width: auto;
	clear: both;
	text-align: center;
	color: #666666;
	font-size: 0.85em;
	padding: 3em 0 0 0;
}

#menu{
	width: 600px;
	hight: auto;
	padding: 10 px;
	float: left;
	text-align: left;
	border: 1px solid #666666;
}

#content{
	width: auto;
	height: auto;
	margin: 0;
	padding: 10 px;
	float: right;
	text-align: left;
	border: 1px solid #666666;
}

h2 {
	font-size: 1.2em;
}