<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<body>
<f:view contracts="#{view.locale.language}">
    <ui:composition template="WEB-INF/template.xhtml">
        <ui:define name="content">
            <h1>Neuen Studenten erstellen</h1>

            <h:form>
                <p:messages closable="true"/>
                <p:tabView id="tabView">
                    <p:tab title="Daten">

                        <h:panelGrid columns="2">

                            <h:outputLabel value="Vorname"></h:outputLabel>
                            <p:inputText id="s_vorname"
                                         value="#{selectedStudent.vorname}">
                            </p:inputText>
                            <p:message for="s_vorname"/>

                            <h:outputLabel value="Nachname"></h:outputLabel>
                            <p:inputText id="s_nachname"
                                         value="#{selectedStudent.nachname}">
                            </p:inputText>
                            <p:message for="s_nachname"/>

                            <h:outputLabel value="Strasse"></h:outputLabel>
                            <p:inputText id="s_strasse"
                                         value="#{selectedStudent.strasse}">
                            </p:inputText>
                            <p:message for="s_strasse"/>
                            
                            <h:outputLabel value="Postleitzahl"></h:outputLabel>
                            <p:inputText id="s_postleitzahl"
                                         value="#{selectedStudent.postleitzahl}">
                            </p:inputText>
                            <p:message for="s_postleitzahl"/>
                            
                            <h:outputLabel value="Ort"></h:outputLabel>
                            <p:inputText id="s_ort"
                                         value="#{selectedStudent.ort}">
                            </p:inputText>
                            <p:message for="s_ort"/>
                            
                        </h:panelGrid>
                    </p:tab>
                </p:tabView>
                <p:commandButton value="Speichern" ajax="false"
                                 action="#{editStudentController.doSave}"/>
                <p:commandButton value="Abrechen" immediate="true" ajax="false"
                                 action="#{editStudentController.doCancel}"/>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</body>
</html>