<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

	<head>
		<title>Willkommen</title>
		<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
	</head>
	
	<body>
		<f:view contracts="#{view.locale.language}">
			<ui:composition template="WEB-INF/template.xhtml">
				<ui:define name="content">
					<h:panelGrid columns="1">
						<h:form>
			                <h:commandButton value="Neuer Student" ajax="false"
		                            action="#{indexController.doAddStudent}"/>
		                    <h:commandButton value="Studentenliste" ajax="false"
		                            actionListener="#{indexController.doListStudents}"/>
			            </h:form>
		            </h:panelGrid>
				</ui:define>
			</ui:composition>
		</f:view>
	</body>
	
</html>