<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<body>
<f:view contracts="#{view.locale.language}">
    <ui:composition template="WEB-INF/template.xhtml">
        <ui:define name="content">
            <h1>Studentenliste</h1>

            <h:form>
                <p:dataTable value="#{students}" var="student">
                    <p:column>
                        <f:facet name="header">Matrikelnummer</f:facet>
                        <h:outputText value="#{student.matrikelnummer}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Nachname</f:facet>
                        <h:outputText value="#{student.nachname}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Vorname</f:facet>
                        <h:outputText value="#{student.vorname}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Postleitzahl</f:facet>
                        <h:outputText value="#{student.postleitzahl}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Ort</f:facet>
                        <h:outputText value="#{student.ort}"/>
                    </p:column>
				</p:dataTable>
            </h:form> 
        </ui:define>
    </ui:composition>
</f:view>
</body>
</html>