<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>My-Aktion</title>
	<meta charset="utf-8" />
	<h:outputStylesheet name="/screen.css" />
</h:head>
<h:body>
	<div id="container">
		<div id="header">
			<h1><a href="http://127.0.0.1:8080/JavaEEProject/index.jsf">StudiRe</a></h1>
		</div>
		<div id="content">
			<ui:insert name="content">
				[Template content will be inserted here]
			</ui:insert>
		</div>
		<div id="footer">
			<p> (C) 2018 Oliver Guder, oguder@tsn.at</p>
		</div>
	</div>
</h:body>
</html>